body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #afcafb;
}

h1 {
    text-align: center;
}

/*主要界面的样式*/
#mainBox {
    height: 186px;
    width: 262px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
}

/*登录按钮样式*/
#index {
    font-size: 20px;
    padding-left: 12px;
    padding-bottom: 4px;
    margin-left: 101px;
    text-decoration: none;
}

/*以下三个是按钮的样式*/
.button {
    margin: 13px 41px 6px 35px;
    height: 20px;
    border: none;
    background-color: #4585F1;
    color: white;
    padding: 3px 10px 10px 10px;
    border-radius: 2px;
    transition:all 0.2s;
}

.button:hover {
    cursor: pointer;
    background-color: #73a2f1;
}

.button:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
}

/*主要信息的样式*/
.infor {
    margin: 10px 10px 10px 31px;
}