/*
    Modern Web Programming(Group 10)
    Homework 6 Games
    Maze.css
    CSS file for Maze.html
    Made by 舒俊淮
    Copyright By 舒俊淮 © 2016 All Rights Reserved.
    No.15331274
    School of Data and Computer Science
    Sun Yat-sen University
    2016-10-16
*/

/*说明：本CSS文件样式的定义顺序由上到下分别对应HTML文件的由上到下顺序*/
body {
    font-family: "Century Gothic", Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}

/*位置居中*/
#pos {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#pos #upper {
    text-align: center;
}

#upper #name {
    font-size: 35px;
    margin-bottom: 13px;
}

#upper #introduction {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 25px;
}

#upper #result {
    height: 45px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 1s;
}

/*以下13个是游戏的主要区域的样式*/
#main {
    margin: auto;
    position: relative;
    top: 0;
    left:0;
    height: 309px;
    width: 500px;
}

#main:hover {
    cursor: pointer;
}

#main .wall{
    background-color: #eeeeee;
    border: 1px black solid;
}

/*撞墙之后变成红色*/
#main .redwall{
    background-color: red;
    border: 1px black solid;
}

#main .wall:hover {
    cursor: default;
}

/*分别定义五面墙的位置*/
#main #wall0 {
    width: 151px;
    height: 203px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#main #wall1 {
    width: 151px;
    height: 203px;
    position: absolute;
    left: 351px;
    top: 0px;
}

#main #wall2 {
    width: 200px;
    height: 52px;
    border-left: none;
    border-right: none;
    position: absolute;
    left: 152px;
    top: 0px;
}

#main #wall3 {
    width: 100px;
    height: 150px;
    border-bottom: none;
    position: absolute;
    left: 200px;
    top: 107px;
    z-index: 1;
}

#main #wall4 {
    width: 502px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

/*起点板块和终点板块的共同样式*/
#main .S_E {
    width: 44px;
    height: 44px;
    font-size: 36px;
    text-align: center;
    border: 1px black solid;
}

#main #start {
    background-color: #96fb96;
    position: absolute;
    top: 208px;
}

#main #end {
    background-color: #9c91f3;
    position: absolute;
    top: 208px;
    left: 458px;
}

#pos #rule {
    margin: auto;
    width: 610px;
}

/*那面用来举例的墙*/
#rule #exm {
    width: 102px;
    height: 30px;
    margin-left: 233px;
    background-color: #eeeeee;
    border: 1px black solid;
}